:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.memozone {
border-radius:15px;
  background-image: url(../public/steve-payne-f2wJRB93vJU-unsplashSize70.jpg);
  font-size:  10px;
}
button {
  margin-left: 2px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #417d33;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.container {/* 全サイズに適用（スマホ以上） */
  margin: 0 auto;
  background-color: pink;
}

@media (min-width: 576px) {/*　スマホ大・横向き〜 */
 .container {
   max-width: 540px;
   background-color: blue;
 }
}

@media (min-width: 768px) {/* タブレット〜 */
 .container {
   max-width: 720px;
   background-color: green;
 }
}

@media (min-width: 992px) {/* PC〜 */
 .container {
   max-width: 960px;
   background-color: yellow;
 }
}

@media (min-width: 1200px) {/* PCワイド、PCワイド以上 */
 .container {
   max-width: 1140px;
   background-color: red;
 }
}
